*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
    background-color: rgb(277,277,277);
    background: linear-gradient(66deg,rgb(230,251,254) 0%,rgb(237,221,251) 100%);
}
header{
    display: flex;
    padding: 0px 50px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}
header>nav{
    width: 20%;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}
a.headernavitem{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
span.logo{
    font-family: "Rubik Glitch Pop",system-ui;
    font-size: 40px;
}
span#menu{
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 30px;
}
main{
    min-height:calc(100vh- 80px - 100px);
    background-color: white;
    margin-top: 100px;
    padding: 40px 0px 0px 0px;
}
main>#content{
    float: left;
    min-height: 800px;
    width: 70%;
}
article#content{
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
div.card{
    display: flex;
    width: 370px;
    height: 200px;
    background-color: rgba(203, 232, 245, 0.817);
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    transition: transform 0.3s ease;
    animation: bounce 0.3s;
}
div.card:hover{
    transform: scale(1.05);
}
div.card>div.left{
    width: 150px;
    height:100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
div.card>div.right{
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

}
h1.pokename{
    letter-spacing: 2px;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}
a.pokeapi{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 221, 251);
    width: fit-content;
    padding: 3px 5px;
}
main>aside{
    float: right;
    width: 25%;
    position: sticky;
    top: 80px;
    height: fit-content;
}
div.profilecard{
    width: 80%;
    background-color: rgba(203, 232, 245, 0.817);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    padding: 30px;
}
div.profilepicture{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgba(203, 232, 245, 0.817);
    background-image: url('asset/1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
img{
    width: 200px;
}
/* div.profileinfo{
    text
} */
footer{
    height: 60px;
    line-height: 60px;
}
footer>p{
    text-align: center;
    background-color: white;
}
@keyframes bounce {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}